
<main id="main_timetable">
    <h2>Mitt ramschema</h2>

    <!-- div for showing number of courses shown -->
    <div id="quantity_timetable"> Antal kurser: {{myCourses.length}}st.</div>
    
    <table id="myCourseTable">
        <thead>
            <tr>
                <th>Kurskod </th>
                <th>Kursnamn </th>
                <th>Poäng </th>
                <th>Ämne </th>
                <th>Kursplan</th>
                <th>Ta Bort</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of myCourses">
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.subject }}</td>
                <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
                <td><button id="removeBtn" (click)="removeCourse(course)">X</button></td>
            </tr>
        </tbody>
    </table>

</main>