#main_home {
    width: 100%;
    max-width: 1260px;
    margin: auto;
}

h2 {
    padding: 60px 0 20px 50px;
}

p {
    font-size: 18px;
    padding: 20px 0 30px 50px;
}

label {
    padding: 20px 0 20px 50px;
}

input {
    height: 28px;
    width: 300px;
}

select {
    height: 32px;
    width: 333px;
}

#quantity {
    padding: 30px 0 20px 50px;
    font-size: 20px;
    color: rgb(116, 111, 111);
}

#table_container {
    width: 100%;
    margin-bottom: 200px;
    overflow-x: auto
}

#coursetable {
    width: 100%;
    margin: auto;
    line-height: 1.2em; 
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}

#coursetable tr:nth-child(odd) {
    background-color: rgba(32, 100, 100, 0.068);
}

#coursetable thead tr {
    background-color: rgb(32, 100, 100);
    color: #fff;
}

#coursetable thead th {
    padding: 4px 10px;
    text-align: left;
}

#coursetable thead th:nth-child(6) {
    white-space: nowrap;
}

.headerAndArrow:hover {
    cursor: pointer;
    text-decoration: underline;
}

#coursetable td {
    padding: 5px;
}

#addBtnSection {
    text-align: center;
}

#addBtn {
    padding: 2px 7px;
    background-color: rgb(32, 100, 100);
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.no-courses-message {
    padding: 20px 0 0 50px;
    font-size: 18px;
    color: rgb(243, 146, 18);
}

.added-course-message {
    padding: 20px 0 0 50px;
    font-size: 18px;
    color: rgb(243, 146, 18);
}

.pagination {
    padding:10px 15px;
    color: #000;
    float: right;
}

.pagination::ng-deep .ngx-pagination .current{
    background-color: rgb(32, 100, 100);
}
  

@media screen and (max-width: 712px) {

    h2 {
        padding: 90px 0 20px 30px;
        font-size: 28px;
        
    }
    p {
        font-size: 12px;
        padding: 0 0 20px 30px;
        
    }
    label {
        padding: 20px 0 20px 30px;
    }
    
    input {
        margin: 0 0 0 30px;
    }

    select {
        margin: 0 0 0 30px;
        width: 305px;
    }

    #quantity {
        font-size: 16px;
    }

    #coursetable {
        line-height: 1em; 
        padding:2px;
    }

    #coursetable thead th {
        padding: 2px;
        font-size: 12px;
    }

    #coursetable td {
        padding: 2px;
        font-size: 12px;
    }
}