h2, label {
    padding: 20px 0 20px 50px;
}

input {
    height: 28px;
    width: 300px;
}

select {
    height: 32px;
    width: 333px;
}

#quantity {
    padding: 30px 0 0 50px;
    font-size: 20px;
    color: rgb(116, 111, 111);
}

#coursetable {
    width: 90%;
    margin: auto;
    line-height: 1.5em;
   padding-top: 40px;
   padding-bottom: 200px;
}

#coursetable tr:nth-child(odd)  {
   background-color: rgba(32, 100, 100, 0.068);
}

#coursetable thead tr {
   
    background-color: rgb(32, 100, 100);
    color: #fff;
}

#coursetable thead th {
 
    padding: 4px 10px;
    text-align: left;
}

.headerAndArrow:hover {
    cursor: pointer;
    text-decoration: underline;
    
}

#coursetable th:nth-child(6) {
    white-space: nowrap;
}

#coursetable td {
    padding: 10px 5px;
}

.headerAndArrow i {
    margin-left: 5px;
}