<main id="main_home">
    <h2>M5 Universitetets kurser</h2>

    <label for="search">Sök kurser: </label>
  <input type="text" id="search" name="search" [(ngModel)]="searchInput" (input)="searchCourses()">
  <br><br>

    <label for="subjectFilter">Ämne: </label>
    <select name="subjectFilter" id="subjectFilter" (change)="filterCoursesBySubject($event)">
        <option value="">Alla ämnen</option>
        <option *ngFor="let subject of uniqueSubjects" [value]="subject" id="sub">{{ subject }}</option>
    </select>

    <!-- div for showing number of courses shown -->
    <div id="quantity"> Antal kurser: {{ filteredCount }} st.</div>
    
    <table id="coursetable">
        <thead>
            <tr>
                <th class="headerAndArrow" (click)="sortCourses('courseCode')">Kurskod </th>
                <th class="headerAndArrow" (click)="sortCourses('courseName')">Kursnamn </th>
                <th class="headerAndArrow" (click)="sortCourses('points')">Poäng </th>
                <th class="headerAndArrow" (click)="sortCourses('subject')">Ämne </th>
                <th>Kursplan</th>
                <th>Lägg till</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let course of courselist">
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.points}}</td>
                <td>{{course.subject}}</td>
                <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
                <td>knapp</td>
            </tr>
        </tbody>
    </table>

</main>